@charset "utf-8";
/* CSS Document */

.clear
{
	clear:both;
}

body
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.wrap
{
	width:1010px;
	margin:0 auto;
}

.connect
{
	text-align:right;
}

nav
{
	margin:0 auto;
}

nav ul 
{
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
}

nav li 
{
 float:left;
 margin:auto;
 padding:0;
 background-color:#666;
}

nav li a 
{
 display:block;
 width:150px;
 color:white;
 text-decoration:none;
 padding:5px;
}

nav li a:hover 
{
 color:#FFD700;
}

nav ul li ul 
{
 display:none;
}

nav ul li:hover ul 
{
 display:block;
}

nav li:hover ul li 
{
 float:none;
}

nav li ul 
{
 position:absolute;
}

/*--------------*/
.miniatures
{
	border:1px solid #CCC;
	width:155px;
	display:inline-block;
	margin-right:10px;
	margin-top:10px;
	text-align:center;
}